.product-container{
    width: 100vw;
    padding:50px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.filters{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.buttons{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#select-filter{
    width: 200px;
    height: 46px;
    border: 1px solid gray;
    border-radius: 30px;
}
.filter-label{
    font-size: 18px;
    font-weight: 500;
}
.input-box{
    width: 170px;
    height: 46px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 24px 30px;
    margin-left: 50px;
}

.btn{
    width: 200px;
    height: 42px;
    padding: 10px 40px;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.remove{
    border: 1px solid #0E79BD;
    color: #0E79BD;
    background-color: white;
}
.apply{
    background-color: #0E79BD;
    color: white;
    border: none;
}
.remove:hover{
    background-color: #0E79BD;
    color: white;
    border: none;
}
.apply:hover{
    border: 1px solid #0E79BD;
    color: #0E79BD;
    background-color: white;
}
.line2{
    width: 1200px;
    background-color: gray;
    margin-top: 30px;
    opacity: 0.2;
    border: 1px solid black;
}
.products{
    width: 1200px;
    padding: 50px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    width: 200px;
    height: 324px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
} 
.product-img{
    width: 165px;
    height: 110px;
    border-radius: 12px;
}
.prod-name{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.disc-price{
    font-size: 16px;
    font-weight: 500;
    color: #0E79BD;
    margin-top: 20px;
}
.orig-price{
    font-size: 12px;
    font-weight: 500;
    color: grey;
    text-decoration: line-through;
    margin-top: 16px;
}
.add{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #0E79BD;
   
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.product-headings{
    display:flex;
    justify-content:flex-start;
    width:100%;
    margin-top: 5vw;
    margin-left: 180px;
    font-size: 20px;
    text-transform: uppercase;

}

@media screen and (max-width:760px) {
    .filters{
        width: 90vw;
        flex-wrap: wrap;

    }
    .input-box{
        margin-left: 25vw;
        height: 30px;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .buttons{
        width: 90vw;
    }
    .btn{
        width: 40vw;
    }
    .products{
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
    }
    .product{
        width: 60vw;
        
    }
    .product-img{
        width: 100%;
    }
}