.profile-container{
    min-width: 100%;
    padding: 60px 80px;
    overflow-x: hidden;
}

.profile-heading{
    width: fit-content;
    padding:10px 40px;
    text-align: center;
    color: #0E79BD;
    text-transform: capitalize;
    border-bottom: 2px solid #0E79BD;
    
}

.profile-footer{
    width: 300px;
    padding: 20px 40px;
    text-align: center;
    color: #0E79BD;
    text-transform: uppercase;
    border-bottom:2px solid #0E79BD;
    font-size: 22px;
    margin-top: 60px;
}
.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
    padding: 0 80px;
}
.profile-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.profile-row img{
    width: 30px;
}
.input input{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px -3px rgba(14, 121, 189, 0.25);
    outline: none;
    border: none;
    padding: 10px;

}

.input-checkbox{
    padding-top: 20px;
    padding-right:40px ;
}

.input-checkbox input[type=checkbox]{
    outline:2px solid #0E79BD;
    border: none;
}

.full-width{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.full-width img{
    width: 30px;
    height: 30px;
}

.full-width input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px -3px rgba(14, 121, 189, 0.25);
    outline: none;
    border: none;
    padding: 10px;
}

.cross{
    cursor: pointer;
    position: relative;
    right: 50px;
}

.full-width .cross{
    top: 5px;
}

.profile-row.btn{
    width: 100%;
}

.profile-row.btn button{
    width: 400px;
    text-align: center;
    height: 30px;
    margin: 20px;
    outline: none;
    border-radius: 20px;
}

.change-password{
    background: white;
    border: 2px solid #0E79BD;
    color: #0E79BD;
}

.save{
    background: #0E79BD;
    color: white;
    border: none;
}

@media screen and (max-width:760px){
    .profile-row{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    .profile-row img{
        width: 20px;
    } 
    .input input{
        width: 60vw;
        height: 30px;

    }
    .full-width input{
        width: 70vw;
        height: 30px;
    }

    .profile-row.btn button{
        width: 60vw;
        position: relative;
        right: 120px;
    }
    .input-icon{
        position: relative;
        top: 25px;
        right: 20px;
    }

    .cross{
        position: relative;
        left: 200px;
        bottom: 26px;
    }
    .profile-footer{
        width: 50%;
        padding: 10px 0;
    }
}

