.topic-box{
    margin-top: 70px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    border-radius: 30px;
    background-image: url('../../../images/topic2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 451px;
    width: 1200px;
}
.topic-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
}

.topic-content{
    margin-top: 50px;
    width: 596px;
    height:183px;
    font-size: 18px;
    line-height: 30px;
}

.tread-more{
    color: #0E79BD;
    margin-top: 50px;
    
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.gradient{
    height: 451px;
    border-radius: 25px;
    width: 1200px;
    padding: 50px;
    background-image: linear-gradient(to right,white,rgba(255,255,255,0.3));
}