.topic-cont{
    width:100vw;
    text-align:center;
    margin-top:50px;
    padding:7rem 120px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.topic-box{
    margin-top: 70px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    border-radius: 30px;
    background-image: url('../../../images/topic2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 351px;
    width: 1200px;
}
.topic-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.topic-content{
    margin-top: 50px;
    width: 596px;
    height:153px;
    font-size: 16px;
    line-height: 20px;
}

.tread-more{
    color: #0E79BD;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.gradient{
    height: 351px;
    border-radius: 25px;
    width: 1200px;
    padding: 50px;
    background-image: linear-gradient(to right,white,rgba(255,255,255,0.3));
    position: relative;
    right: 12px;
}



@media screen and (max-width:760px) {
    .gradient{
        min-width:100%;
        min-height: 300px;
        padding: 10px;
    }
    .topic-content{
        max-width: 80vw;
        margin-top: 10px;
    }
    .topic-box{
        min-height: 300px;
    }
    .tread-more{
        margin-top: 70px;
    }
}