.row{
    width: 90vw;
}

.team-img{
    width: 40vw;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #0E79BD;
    
    letter-spacing: 3px;
    padding-right: 30px;
}
.qualities{
    border: 1px black;
    padding-top:50px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.quality{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    height: 200px;
    box-shadow: 3px 3px 20px 2px #0E79BD;
-webkit-box-shadow: 3px 3px 20px 2px #0E79BD;
-moz-box-shadow: 3px 3px 20px 2px #0E79BD;
border-radius: 25px;
}

.small-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    font-size: 24px;
    letter-spacing: 5px;
}

.lineContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.verticalLine{
    height: 150px;
    background-color: #0E79BD;
    width: 5px;
    
}


.mission{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E79BD;
    margin-top: 70px;
}
.mission-text{
    color: white;
    padding: 30px;
}

.founders{
    width: 90vw;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.founder{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}