.heading{
    font-size: 36px;
    font-weight: 500;
}
.subheading{
    font-size: 22px;
    font-weight: 400;
    margin-top: 2rem;
}
.subHeading2{
    margin-top: 3rem;
    /* margin-left: 120px; */
    font-size: 36px;
    font-weight: 500;
    /* text-align: left; */
    position: relative;
    right:520px;
    top:100px;
}

.box{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 188px;
    flex-direction: column;
    border-radius: 25px;
}