.video{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.heading{
    font-size: 30px;
    font-weight: 500;
}

@media screen and (max-width:760px){
    .heading{
        font-size: 20px;
    }
    .video iframe{
        width:80vw;
        height:50vw;
    }
}